# SPDX-License-Identifier: Apache-2.0.
# Copyright (C) 2026-present ahrs-debug-rig project and contributors.

# Section for target-specific configurations for the ESP32.
[target.xtensa-esp32-none-elf]
runner = "espflash flash --monitor --chip esp32"

# Sets the logging level for the output.
[env]
# The logs will include informational messages, warnings and errors.
ESP_LOG="info"

# Build process configuration section.
[build]
# Allow custom entry points.
rustflags = [ "-C", "link-arg=-nostartfiles" ]
# Build target for XTensa architecture used in the ESP32.
target = "xtensa-esp32-none-elf"

# Crate unstable features section.
[unstable]
# Components of the standard library to build.
# "core" - is the minimal subset of the Rust standard library,
# suitable for no_std environments.
# "alloc" - provides support for heap allocation.
build-std = ["alloc", "core"]
